/* nasconde l'elemento */
.hidden {
  display: none;
}

/* stile generale del popup */
.newsletter-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 3rem 2rem;
  width: 95%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  font-family: sans-serif;
}

/* contenuto interno relativo */
.newsletter-content {
  position: relative;
}

/* pulsante di chiusura */
.close-btn {
  position: absolute;
  top: -30px;
  right: -10px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1;
}

/* h2 titolo */
.newsletter-content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.newsletter-content p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.newsletter-content form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* campo email */
.newsletter-content input[type="email"] {
  padding: 0.6rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* bottone Iscriviti */
.newsletter-content button[type="submit"] {
  background-color: rgb(167, 54, 90);
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-content button[type="submit"]:hover {
  background-color: #180218;
}
