.area-stili{
    display: none;
    position: relative;
    background-color: white;
    width: 100%;
    font-size: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.area-stili.visible{
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.titolo-stili{
    position: relative;
    margin-top: 10vh;
}

.area-stili h1{
    position: relative;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.area-stili p{
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.genere-navigation{
    position: sticky;      /* la mantiene visibile mentre scorri */
    top: 80px;                
    z-index: 1000;         /* resta sopra agli altri elementi */
    display: flex;         
    justify-content: center;
    gap: 1.5rem;  
    padding: 0.75rem 0;
    background: #ffffff00; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {
  font-size: 1rem;
  color: #666;
  text-decoration: none;
  transition: all 0.2s ease;
}

.nav-link.active {
  font-size: 1.2rem;
  font-weight: bold;
  color:  rgb(167, 54, 90);
}

.genere-navigation a {
  text-decoration: none;
  font-weight: 600;
  font-size: 5vh;
  color:  rgb(167, 54, 90);
}

.genere-navigation a:hover {
  text-decoration: underline;
}

.stili-donna{
    position: relative;
    margin-top: 2rem;
    width: 80vw;
    margin-left: 5vw;
}

.stili-uomo{
    position: relative;
    margin-top: 2rem;
    width: 80vw;
    margin-left: 5vw;
}

/* Style entry - un container per ogni coppia image+text */
.style-entry-sx {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    width: 100%;
}

.style-entry-dx {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    width: 100%;
}

.img-guide{
    width: 45%;
    max-width: 600px;
    height: auto;
    margin-right: 2rem;
}

.testo-stili{
    width: 45%;
    line-height: 1.2;
}


b {
    color: rgb(167, 54, 90);
}

  
  