html, body {
  padding: 0;
  margin: 0;
  position: relative;
  width: 200vh;
  height: 200vh;
  background-color: rgba(247, 232, 179, 0.686);
}

.selezione-genere{
  z-index: 1000;
  margin-top: 0;
}

#btn-donna {
  background-color: pink;
  border-radius: 30px;
  width: 10vw;
  height: 8vh;
}

#btn-uomo {
  background-color: rgb(129, 177, 255);
  border-radius: 30px;
  width: 10vw;
  height: 8vh;
}

.container-camerino {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: flex-start; /* centrato verticalmente */
  flex-direction: column;
  padding: 0;
}

.area-uomo, .area-donna{
  top: 0;
  right: 100%;
  display: flex;
  flex-direction: row;
  transform: translateX(100%); /*lo sposto a destra per renderlo invisibile*/
  gap: 1vh;
}

.area-uomo.visible, .area-donna.visible {
  transform: translateX(0);  /*lo sposto a sinistra per renderlo visibile*/
  right: 0;
}

.manichino {
  height: 80%;
  position: relative; 
  aspect-ratio: 1 / 3;
  background-size: cover;
  background-position: center;
}


.manichino .indumento {
  position: absolute;
  z-index: 50; /* assicurati che stia sopra a tutto */
  cursor: grab;
  pointer-events: auto; /* molto importante */
}

.area-sx{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}


.sx-alto-uomo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;             /* riempie per righe → colonne */
  gap: 0vh;
}

.sx-alto-donna {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;        
  width: 660px;
  height: 385.69px;     
  gap: 0vh;
}

.sx-basso-uomo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;             /* riempie per righe → colonne */
  gap: 0vh;
}

.sx-basso-donna {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;             /* riempie per righe → colonne */
  gap: 0vh;
  width: 660px;
  height: 127.6px;
}

.dx-uomo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 0vh;
}

.dx-donna {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 0vh;
  width: 440px;
  height: 612.23px;
}

.zona {
  position: absolute;
  width: 100%;
  pointer-events: none;
  
}

#manichino-uomo #zona-testa {
  top: -2%;
  height: 20%;
  background-color: rgba(255, 93, 206, 0);

}

#manichino-uomo #zona-busto, #zona-busto-donna {
  top: 17%;
  height: 25%;
  background-color: rgba(255, 172, 78, 0);
}

#manichino-uomo #zona-over-busto, #zona-over-busto-donna {
  top: 16%;
  height: 25%;
}

#manichino-uomo #zona-gambe, #zona-gambe-donna {
  top: 40%;
  height: 50%;
  background-color: rgba(0, 255, 0, 0);
    
}

#manichino-uomo #zona-piedi {
  top: 92%;
  height: 12%;
  background-color: rgba(255, 0, 0, 0);
}

#zona-piedi-donna {
  top: 72%;
  height: 32%;
  background-color: rgba(255, 0, 0, 0);

}

#manichino-uomo #zona-orologio{
  top: 46%;
  left: 2%;
  height: 2%;
  width: 8%;
  background-color: rgba(78, 243, 255, 0);
}

.vestito {
    width: 100px;
    margin-right: 10px;
    cursor: grab;
}

#cestino {
  width: 100px;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 20px;
  background-color: #ffffff00;
  border-radius: 10px;
  z-index: 50;
}

/* bottone del cestino */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
  transform: scale(1.1);
}

#colorPalette {
  font-family: Arial, sans-serif;
}