@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset base */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;  /*fa scorrere la pagina in modo fluido*/
    font-family: 'Montserrat', sans-serif;
}

.bottone {
    position: absolute;
    top: 2.75vh;
    left: 2.5vw;
    width: 2vw;
    height: 2.75vh;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    border: none;
    background: transparent;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
}

.bottone span {
    display: block;
    width: 100%;
    height: 0.45vh;
    background-color: rgb(4, 5, 6);
    border-radius: 2vh;
    transition: transform 0.3s ease-in-out;
}

.bottone:hover span {
    background-color: fuchsia;
}

.bottone:hover {
    transform: scale(1.05);
}

.close-button {
    position: absolute;
    top: 5vh;
    right: 3vw;
    width: 3vw;
    height: 6vh;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 4vh;
    color: #6a11cb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.close-button:hover {
    color: fuchsia;
    transform: rotate(180deg);
    background-color: rgba(200, 200, 200, 0.3);
}

/*
.email-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #6a11cb;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    width: 250px;
}

.email-input:focus {
    border-color: #845ec2;
    box-shadow: 0 0 0.5rem rgba(106, 17, 203, 0.3);
}

ragazze secondo me sono inutili perchè se le tolgo si vede uguale a prima, fatemi sapere*/

.intestazione {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.612);
    padding: 0.5vh;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1vw 1vh rgba(0,0,0,0.1);
}

.login-button {
    padding: 0.8vw 5vh;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.2);  
}

.login-button:hover {
    background-color: #845ec2;
    transform: translateY(-0.6vh);
    box-shadow: 0 1vh 0.5vw rgba(0, 0, 0, 0.3);
}

.login-button.logged-in {
    padding: 1vh;
    background-color: white;
    border: 0.3vh solid #6a11cb;
    margin-top: 0.6vh;
}

.login-button.logged-in .user-icon {
    display: block;
}

.login-button.logged-in:hover {
    background-color: #f0f0f0;
    transform: translateY(-0.6vh);
    box-shadow: 0 0.8vh 4vh rgba(0, 0, 0, 0.3);
}

.login-container {
    position: absolute;
    top: 1vh;
    right: 5vw;
    display: flex;
    align-items: center;
    z-index: 1002;
}

.login-form {
    display: flex;
    flex-direction: column; /*li dispone uno sotto l'altro*/
    gap: 1.5vw;
}

.login-form input {
    padding: 2vh 1.2vw;
    font-size: 2.5vh;
    border: 0.1rem solid #6a11cb;
    border-radius: 30vw;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
}

.login-form button {
    padding: 2vh;
    font-size: 2.7vh;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 30vh;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2vh;
    transition: all 0.3s ease;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2);
}

.login-form button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.4);
}

.login-link {
    text-align: right;
    margin-top: 2vh;
    color: #6a11cb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.login-link:hover {
    color: #845ec2;
    text-decoration: underline;
}

.login-panel {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: -0.5vw 0 1vh rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1003;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    transform: translateX(100%);  /*lo sposto a destra per renderlo invisibile*/
}

.login-panel.visible {
    transform: translateX(0);  /*lo sposto a sinistra per renderlo visibile*/
    right: 0;
}

.login-panel h2 {
    color: #6a11cb;
    margin-bottom: 4vh;
    font-size: 4.5vh;
}

.menu-tendina {
    position: absolute;
    top: 100%;
    left: -0.625vw;
    background-color: rgba(255, 255, 255, 0.95);
    min-width: 12.5vw;
    box-shadow: 0 0.625vh 0.625vh rgba(0,0,0,0.2);
    display: none;
    z-index: 1001;
    border-radius: 0.9375vw;
    overflow: hidden;
    backdrop-filter: blur(0.3125rem);
}

.bottone:hover .menu-tendina,
.menu-tendina:hover {
    display: block; /* rende tutto il menu a tendina un blocco che va a capo ogni riga */
}

.menu-tendina a {
    display: block; /* ogni blocco (ogni a) va a capo  */
    padding: 1vw 3vh;
    text-decoration: none;
    color: rgb(4, 5, 6);
    transition: all 0.3s ease;
    border-bottom: 0.1rem solid rgba(0,0,0,0.05);
}

.menu-tendina a:last-child {
    border-bottom: none;
}

.menu-tendina a:hover {
    background-color: rgb(255, 171, 255);
    padding-left: 8.2vw;
}

.register-link {
    text-align: right;
    margin-top: 2vh;
    color: #6a11cb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.register-link:hover {
    color: #845ec2;
    text-decoration: underline;
}

.register-link.logged-in {
    padding: 0.5vh;
    background-color: white;
    border: 2vh solid #6a11cb;
}

.register-link.logged-in .user-icon {
    display: block;
}

.register-link.logged-in:hover {
    background-color: #f0f0f0;
}

.register-panel {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: -0.5vw 0 1vh rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1003;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    transform: translateX(100%);
}

.register-panel.visible {
    transform: translateX(0);
    right: 0;
}

.register-panel h2 {
    color: #6a11cb;
    margin-bottom: 4vh;
    font-size: 4.5vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.register-form input {
    padding: 2vh 1.2vw;
    font-size: 2.5vh;
    border: 0.1rem solid #6a11cb;
    border-radius: 30vw;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
}

.register-form button {
    padding: 2vh;
    font-size: 2.7vh;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 30vh;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2vh;
    transition: all 0.3s ease;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.2);
}

.register-form button:hover {
    transform: translateY(-0.2vh);
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.4);
}

.titolo {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2vw;
    font-weight: bolder;
    color: rgb(247, 101, 227);
    margin-top: -1.25vh;
    text-shadow:
        0 0 0.75rem rgba(247, 101, 227, 0.7),
        0 0 1.375rem rgba(247, 101, 227, 0.5),
        0 0 2rem rgba(247, 101, 227, 0.3),
        0 0 2.625rem rgba(247, 101, 227, 0.2),
        -1px -1px 0 #6a11cb,  
        1px -1px 0 #6a11cb,
        -1px 1px 0 #6a11cb,
        1px 1px 0 #6a11cb; 
    top: 30%;
    left: 5vw;
    filter: none;
    letter-spacing: 0.5px;
}

.user-icon {
    width: 1.7vw;
    height: 3.5vh;
    background-color: white;
    border-radius: 50%; /*crea un cerchio bianco*/
    position: relative; /*siccome relative è il 'padre' che sarà il punto di riferimento per il resto degli elementi*/
    display: none;
}

.user-icon::before {
    content: '';
    position: absolute; /*assoluto rispetto al padre che è relativo*/
    top: 0.5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 0.7vw;
    height: 1.3vh;
    background-color: #6a11cb;
    border-radius: 50%; /*crea un cerchio viola, la testa*/
}

.user-icon::after {
    content: '';
    position: absolute; /*anche lui assoluto rispetto al padre che è relativo*/
    bottom: 0.35vh;
    left: 50%;
    transform: translateX(-50%);
    width: 1.1vw;
    height: 0.9vh;
    background-color: #6a11cb;
    border-radius: 0.3vh; /*rettangolo viola arrotondato, il corpo*/
}

.main-title {
    grid-area: a;
    text-align: right;
    font-size: 9vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: 900;
    margin-left: 20%;
    font-family: 'Georgia', 'Arial', sans-serif;
    letter-spacing: 0.1vw;
    background: linear-gradient(90deg, #ff00ff, #6a11cb, #ff00ff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    text-transform: uppercase;
    animation: gradientText 3s linear infinite;
    text-shadow: 2vh 2vh 4vh rgba(0, 0, 0, 0.1);
}

@keyframes gradientText {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.main-title::after {
    content: '';
    position: absolute;
    bottom: -0.5vh;
    left: 0;
    width: 100%;
    height: 0.3vh;
    background: linear-gradient(90deg, transparent, #ff00ff, #6a11cb, transparent);
    animation: lineGlow 2s ease-in-out infinite alternate;
}

@keyframes lineGlow {
    0% {
        opacity: 0.5;
        height: 0.2vh;
    }
    100% {
        opacity: 1;
        height: 0.4vh;
    }
}

.main-description {
    grid-area: a;
    text-align: right;
    font-size: 4vh;
    color: #555;
    margin-top: 15%;
    margin-bottom: 2vh;
    font-weight: 500;
    margin-left: 20%;
    font-family: 'Georgia', serif;
    font-style: italic;
    line-height: 1.4;
    width: 80%;
    margin-right: 10%;
}

