
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /*per tutta la pagina se ricaricando la pagina, parte un po' più in basso, toglierlo*/
    scroll-behavior: smooth;  /*fa scorrere la pagina in modo fluido*/
    font-family: 'Montserrat', sans-serif;
}

.bottone {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    width: 1.875rem;
    height: 1.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    border: none;
    background: transparent;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
}

.bottone span {
    display: block;
    width: 100%;
    height: 0.1875rem;
    background-color: rgb(4, 5, 6);
    border-radius: 0.125rem;
    transition: transform 0.3s ease-in-out;
}

.bottone:hover span {
    background-color: fuchsia;
}

.bottone:hover {
    transform: scale(1.05);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #6a11cb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.close-button:hover {
    color: #845ec2;
    transform: scale(1.5);
}


.email-input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid #6a11cb;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
    width: 250px;
}

.email-input:focus {
    border-color: #845ec2;
    box-shadow: 0 0 0.5rem rgba(106, 17, 203, 0.3);
}


.intestazione {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.612);
    padding: 0.6rem;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.login-button {
    padding: 0.8rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    background-color: #845ec2;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.login-button.logged-in {
    padding: 0.6rem;
    background-color: white;
    border: 2px solid #6a11cb;
    margin-top: 0.5rem;
}

.login-button.logged-in .user-icon {
    display: block;
}

.login-button.logged-in:hover {
    background-color: #f0f0f0;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.login-container {
    position: absolute;
    top: 0.625rem;
    right: 5rem;
    display: flex;
    align-items: center;
    z-index: 1002;
}

.login-form {
    display: flex;
    flex-direction: column; /*li dispone uno sotto l'altro*/
    gap: 1.5rem;
}

.login-form input {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    border: 2px solid #6a11cb;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
}

.login-form button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2rem;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.login-form button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.login-link {
    text-align: right;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #6a11cb;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.login-link:hover {
    color: #845ec2;
    text-decoration: underline;
}

.login-panel {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1003;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(100%);  /*lo sposto a destra per renderlo invisibile*/
}

.login-panel.visible {
    transform: translateX(0);  /*lo sposto a sinistra per renderlo visibile*/
    right: 0;
}

.login-panel h2 {
    color: #6a11cb;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.menu-tendina {
    position: absolute;
    top: 100%;
    left: -0.625rem;
    background-color: rgba(255, 255, 255, 0.95);
    min-width: 12.5rem;
    box-shadow: 0 0.625rem 0.625rem rgba(0,0,0,0.2);
    display: none;
    z-index: 1001;
    border-radius: 0.9375rem;
    overflow: hidden;
    backdrop-filter: blur(0.3125rem);
}

.bottone:hover .menu-tendina,
.menu-tendina:hover {
    display: block; /* rende tutto il menu a tendina un blocco che va a capo ogni riga */
}

.menu-tendina a {
    display: block; /* ogni blocco (ogni a) va a capo  */
    padding: 1rem 1.25rem;
    text-decoration: none;
    color: rgb(4, 5, 6);
    transition: all 0.3s ease;
    border-bottom: 0.1rem solid rgba(0,0,0,0.05);
}

.menu-tendina a:last-child {
    border-bottom: none;
}

.menu-tendina a:hover {
    background-color: rgb(255, 171, 255);
    padding-left: 8.2rem;
}


.register-link {
    text-align: right;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #6a11cb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.register-link:hover {
    color: #845ec2;
    text-decoration: underline;
}

.register-link.logged-in {
    padding: 0.5rem;
    background-color: white;
    border: 2px solid #6a11cb;
}

.register-link.logged-in .user-icon {
    display: block;
}

.register-link.logged-in:hover {
    background-color: #f0f0f0;
}

.register-panel {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100vh;
    background-color: white;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1003;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(100%);
}

.register-panel.visible {
    transform: translateX(0);
    right: 0;
}

.register-panel h2 {
    color: #6a11cb;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register-form input {
    padding: 1rem 1.2rem;
    font-size: 1.1rem;
    border: 2px solid #6a11cb;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
}

.register-form button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #6a11cb;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2rem;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.register-form button:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.sottotitolo {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: rgb(6, 5, 4); 
    margin-top: -10px;
}

.titolo {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
    color: rgb(247, 101, 227);
    margin-top: -1.25rem;
    text-shadow:
        0 0 0.75rem rgba(247, 101, 227, 0.9),
        0 0 1.375rem rgba(247, 101, 227, 0.7),
        0 0 2rem rgba(247, 101, 227, 0.5),
        0 0 2.625rem rgba(247, 101, 227, 0.3); 
    top: 30%;
    left: 5rem;
    filter: blur(0.0625rem);
   
}



.user-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 50%; /*crea un cerchio bianco*/
    position: relative; /*siccome relative è il 'padre' che sarà il punto di riferimento per il resto degli elementi*/
    display: none;
}

.user-icon::before {
    content: '';
    position: absolute; /*assoluto rispetto al padre che è relativo*/
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: #6a11cb;
    border-radius: 50%; /*crea un cerchio viola, la testa*/
}

.user-icon::after {
    content: '';
    position: absolute; /*anche lui assoluto rispetto al padre che è relativo*/
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 0.4rem;
    background-color: #6a11cb;
    border-radius: 0.2rem; /*rettangolo viola arrotondato, il corpo*/
}


